.title {
  color: #f6c90e;
  font-size: 1.25em;
  font-weight: 800;
}
.title::before {
  position: absolute;
  width: 100px;
  height: 2px;
  border-radius: 5px;
  margin-top: -5px;
  background-color: #f6c90e;
  content: '';
}
